body{
    height: 100vh;
}


.App {
    text-align: center;
    padding: 50px;
    font-size:24px;
}

.App-title {
    font-size: 3em;
    margin-bottom: 25px;
}

.artist-output {
    background-size: cover;
    margin-top: 30px;
    box-shadow: 0px 3px 20px 3px rgba(144, 142, 142, 0.6);
}

.artist {
    display:flex;
    justify-content: center;   
}

.artist-info {
    margin-left: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.artist-img {
    width: 150px;
    height: 150px;
    margin-top: 20px;
    border: 3px solid #fff;
    border-radius: 75px;
    object-fit: cover;
}

.artist-name {
    font-size: 32px;
}

.artist-followers, .artist-genres {
    font-size: 24px;
}

.artist-genres{
    display: flex;
    justify-content: center;
}

.artist-genres>span{
    margin-left: 5px;
}

.albums{
    padding: 40px;
}

.albums-display>p{
    font-weight: 700;
}

ul{
    list-style: none;
    padding: 0;
}

ul>li{
    text-align: left;
    color:black;
    font-weight: 300;
    margin-bottom: 75px;
    display: flex;
}

ul>li img{
    width: 500px;
    height: 500px;
}

ul>li>.cover{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul>li h2{
    font-weight:300;
}

.albums>ul>li{
    border-bottom: 1px solid black;
    padding-bottom: 75px;
}

.albums>ul>li:last-child{
    border-bottom: none;
    padding-bottom: 0;
}



.artist{
    padding: 30px;
}

h4 span{
    display: inline-block;
    border: 1px solid black;
    border-radius: 50px;
    text-align: center;
    width: 23px;
    padding-left: 3px;
}

h4 a{
    color:black;
}

.info-container{
    width: 50%;
    padding-top: 20px;
}

.info p{
    font-size: 16px;
    margin-bottom: 0;
}

.info a{
    display: block;
    font-size: 16px;
    text-decoration: underline;
    margin-bottom: 30px;
}

.tracks ul li, .tracks ul li h4, .tracks ul li p {
    margin: 0;
}

.tracks ul li p, .tracks ul li h4 {
    margin-left: 10px;
    font-size: 18px;
}